@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.container-products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 20px 70px;
    /** 
    align-items: baseline;
    */
}

.title-products {
    font-family: 'Fredoka One', cursive;
    color:#f44336;
}

@media only screen and (max-device-width: 991px) {
    .container-products{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        padding: 20px auto;
    }
}

@media only screen and (max-device-width: 676px) {
    .container-products {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding: 20px auto;
    }
}